@media (min-width: 576px) {
  .footer_item_links {
    display: none;
  }
}
@media (min-width: 992px) {
  .footer_item_links {
    display: block;
  }
}


.site-icon {
  padding: 0 14px;
}
.site-spacer {
  flex: 1 1 auto;
}
.site-toolbar-height {
  padding-top: 15px;
  height: 90px;
  background-color: #FFFAE4;
}
.social_icons {
  list-style-type: none;
  margin-left: 15px;
}

.social-link {
  padding-top: 20px;
  margin-left: 20px;
}

.pay_icons {
  list-style-type: none;
  margin-left: 15px;
  font-size: 28px;
}

.pay-group {
  margin-top: 13px;
  float: right;
  margin-right: 20px;
}

.copy {
  margin-top: 20px;
  margin-left: 20px;
}

.pay-group li{
  display: inline;
}

.footer_logo {
  margin-bottom: 10px;
  width: 400px;
}

.page-footer {
  padding: 0;
}

.footer-style-1 {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #AA3256;
  color: #FFF;
  height: auto;
}

.footer-style-2 {
  background-color: darkred;
  color: #FFF;
  font-size: small;
  height: auto;
}

.footer_item_links {
  color: #FFFAE4;
  text-transform: uppercase;
  font-size: small;
  font-weight: lighter;
  text-align: left;
}

.footer_item_contacts {
  color: #FFFAE4;
  text-transform: uppercase;
  font-size: medium;
  font-weight: lighter;
  text-align: left;
}

.footer_item {
  font-size: medium;
  font-weight: normal;
}

a.footer_item_links {
  color:#FFFAE4;
  font-weight: normal;
}

a.dev-for {
  color:#FFFAE4;
  font-weight: normal;
}

.input-form {
  border: none;
  background-color: #FFFAE4;
  width: 380px;
  border-radius: 0;
  color: #AA3256;
  margin-bottom: 0;
}

.btn-form {
  width: 380px;
  background-color: darkred;
  border: none;
  border-radius: 0;
  color: #FFFAE4;
  margin-top: 0;
}
.form-margin {
  margin-bottom: 0;
}

.text-form {
  font-size: 16px;
  display: block;
  max-width: 300px;
  line-height: 1.3em;
  font-weight: lighter;
  text-align: center;
  margin-left: 40px;
}
