
//
// Color system
//

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$grays: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$grays: map-merge(
    (
      "100": $gray-100,
      "200": $gray-200,
      "300": $gray-300,
      "400": $gray-400,
      "500": $gray-500,
      "600": $gray-600,
      "700": $gray-700,
      "800": $gray-800,
      "900": $gray-900
    ),
    $grays
);

$se-bc:   #AA3256 !default;
$bg-bc:   #FFFAE4 !default;
$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

$colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$colors: map-merge(
    (
      "blue":       $blue,
      "indigo":     $indigo,
      "purple":     $purple,
      "pink":       $pink,
      "red":        $red,
      "orange":     $orange,
      "yellow":     $yellow,
      "green":      $green,
      "teal":       $teal,
      "cyan":       $cyan,
      "white":      $white,
      "gray":       $gray-600,
      "gray-dark":  $gray-800,
      "se-bc":      $se-bc,
      "bg-bd":      $bg-bc
    ),
    $colors
);

$primary:       $blue !default;
$secondary:     $gray-600 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;
$primary-bc:    $bg-bc !default;
$secondary-bc:  $se-bc !default;

$theme-colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$theme-colors: map-merge(
    (
      "primary":    $primary,
      "secondary":  $secondary,
      "success":    $success,
      "info":       $info,
      "warning":    $warning,
      "danger":     $danger,
      "light":      $light,
      "dark":       $dark,
      "primary-bc": $primary-bc,
      "secondary-bc": $secondary-bc
    ),
    $theme-colors
);
$navbar-light-color:                rgba($secondary-bc, 1) !default;
$border-radius:                     .25rem !default;
$nav-pills-border-radius:           $border-radius !default;
$nav-pills-link-active-color:       rgba($dark,.3) !default;
$nav-pills-link-active-bg:          rgba($secondary-bc,.4) !default;

@media (max-width: 575.98px) {

  .site-toolbar-height {
    padding-top: 4px;
    height: 60px;
    background-color: #FFFAE4;
  }

  .footer_item_links {
    display: block;
  }
  .imglogo {
    width: 60px;
    height: 37px;
    background: url("/../../../../assets/img/app/logo-barcelona-cafe-02.png") no-repeat;
    background-size: cover;
  }

  .input-form {
    border: none;
    background-color: #FFFAE4;
    width: 100%;
    border-radius: 0;
    color: #AA3256;
    margin-bottom: 0;
  }

  .btn-form {
    width: 100%;
    background-color: darkred;
    border: none;
    border-radius: 0;
    color: #FFFAE4;
    margin-top: 0;
  }

  .text-form {
    font-size: 16px;
    display: block;
    max-width: 100%;
    line-height: 1.3em;
    font-weight: lighter;
    text-align: center;
    margin: 0 40px;
  }

  .social_icons {
    list-style-type: none;
    padding: 0 4px;
  }

  .social-link {
    padding-top: 20px;
    margin: 0 5%;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {

  .site-toolbar-height {
    padding-top: 15px;
    height: 90px;
    background-color: #FFFAE4;
  }

  .footer_item_links {
    display: block;
  }
  .imglogo {
    width: 105px;
    height: 65px;
    background: url("/../../../../assets/img/app/logo-barcelona-cafe-02.png") no-repeat;
  }

  .input-form {
    border: none;
    background-color: #FFFAE4;
    width: 100%;
    border-radius: 0;
    color: #AA3256;
    margin-bottom: 0;
  }

  .btn-form {
    width: 100%;
    background-color: darkred;
    border: none;
    border-radius: 0;
    color: #FFFAE4;
    margin-top: 0;
  }

  .text-form {
    font-size: 16px;
    display: block;
    max-width: 100%;
    line-height: 1.3em;
    font-weight: lighter;
    text-align: center;
    margin-left: 40px;
  }

  .social_icons {
    list-style-type: none;
    margin-left: 15px;
  }

  .social-link {
    padding-top: 20px;
    margin-left: 20px;
  }

}

@media (min-width: 768px) and (max-width: 991.98px) {

  .site-toolbar-height {
    padding-top: 15px;
    height: 90px;
    background-color: #FFFAE4;
  }

  .footer_item_links {
    display: block;
  }
  .imglogo {
    margin-top: 15px;
    width: 105px;
    height: 65px;
    background: url("/../../../../assets/img/app/logo-barcelona-cafe-02.png") no-repeat;
  }

  .input-form {
    border: none;
    background-color: #FFFAE4;
    width: 100%;
    border-radius: 0;
    color: #AA3256;
    margin-bottom: 0;
  }

  .btn-form {
    width: 100%;
    background-color: darkred;
    border: none;
    border-radius: 0;
    color: #FFFAE4;
    margin-top: 0;
  }

  .text-form {
    font-size: 16px;
    display: block;
    max-width: 100%;
    line-height: 1.3em;
    font-weight: lighter;
    text-align: center;
    margin-left: 40px;
  }

  .social_icons {
    list-style-type: none;
    margin-left: 15px;
  }

  .social-link {
    padding-top: 20px;
    margin-left: 20px;
  }

}

@media (min-width: 992px) and (max-width: 1199.98px) {

  .site-toolbar-height {
    padding-top: 15px;
    height: 90px;
    background-color: #FFFAE4;
  }

  .footer_item_links {
    display: block;
  }
  .imglogo {
    margin-top: 15px;
    width: 400px;
    height: 90px;
    background: url("/../../../../assets/img/app/bc_logo_header_footer_03.png") no-repeat;
  }

  .input-form {
    border: none;
    background-color: #FFFAE4;
    width: 380px;
    border-radius: 0;
    color: #AA3256;
    margin-bottom: 0;
  }

  .btn-form {
    width: 380px;
    background-color: darkred;
    border: none;
    border-radius: 0;
    color: #FFFAE4;
    margin-top: 0;
  }

  .text-form {
    font-size: 16px;
    display: block;
    max-width: 300px;
    line-height: 1.3em;
    font-weight: lighter;
    text-align: center;
    margin-left: 40px;
  }

  .social_icons {
    list-style-type: none;
    margin-left: 15px;
  }

  .social-link {
    padding-top: 20px;
    margin-left: 20px;
  }

}

@media (min-width: 1200px) {

  .site-toolbar-height {
    padding-top: 15px;
    height: 90px;
    background-color: #FFFAE4;
  }

  .footer_item_links {
    display: block;
  }
  .imglogo {
    margin-top: 15px;
    width: 400px;
    height: 90px;
    background: url("/../../../../assets/img/app/bc_logo_header_footer_03.png") no-repeat;
  }

  .input-form {
    border: none;
    background-color: #FFFAE4;
    width: 380px;
    border-radius: 0;
    color: #AA3256;
    margin-bottom: 0;
  }

  .btn-form {
    width: 380px;
    background-color: darkred;
    border: none;
    border-radius: 0;
    color: #FFFAE4;
    margin-top: 0;
  }

  .text-form {
    font-size: 16px;
    display: block;
    max-width: 300px;
    line-height: 1.3em;
    font-weight: lighter;
    text-align: center;
    margin-left: 40px;
  }

  .social_icons {
    list-style-type: none;
    margin-left: 15px;
  }

  .social-link {
    padding-top: 20px;
    margin-left: 20px;
  }

}

#navbar-menu {
  position: relative;
  padding-bottom: 0;
  padding-top: 15px;
}


.site-toolbar-top {
  height: 30px !important;
  font-weight: lighter;
  font-size: .8em;
  padding: 10px;
  margin-top: 0 !important;
}

.mat-toolbar-row, .mat-toolbar-single-row {
  margin-top: 10px;
  height: 10px !important;
}

.mat-toolbar-multiple-rows {
  min-height: 25px !important;
}

.site-icon {
  padding: 0 14px;
}

.site-spacer {
  flex: 1 1 auto;
}

.pay_icons {
  list-style-type: none;
  margin-left: 15px;
  font-size: 28px;
}

.pay-group {
  margin-top: 13px;
  float: right;
  margin-right: 20px;
}

.copi {
  margin-top: 20px;
  margin-left: 20px;
}

.pay-group li {
  display: inline;
}

.footer_logo {
  margin-bottom: 10px;
  width: 400px;
}

.page-footer {
  padding: 0;
}

.footer-style-1 {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #AA3256;
  color: #FFF;
  height: auto;
}

.footer-style-2 {
  background-color: darkred;
  color: #FFF;
  font-size: small;
  height: auto;
}

.footer_item_links {
  color: #FFFAE4;
  font-size: medium;
  font-weight: lighter;
  text-align: left;
}

.footer_item_contacts {
  color: #FFFAE4;
  font-size: medium;
  font-weight: lighter;
  text-align: left;
}

.footer_item {
  font-size: medium;
  font-weight: normal;
}

a.dev-for {
  color: #FFFAE4;
  font-weight: normal;
}

.form-margin {
  margin-bottom: 0;
}


.text-form {
  font-size: 16px;
  display: block;
  max-width: 300px;
  line-height: 1.3em;
  font-weight: lighter;
  text-align: center;
  margin-left: 40px;
}

.up-top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  cursor: pointer;
  display: none;
}


div section{
  min-height: 300px;
  display: flex;
  align-items: center;
}

div section span{
  color:white;
  width: 100%;
  text-align: center;
  font-size: 15vw;
  text-shadow: 0 0 7px #aaa;
  transition: opacity 0.5s;
}

#site { background-color: green; }
#products { background-color: yellow; }
#about { background-color: blueviolet; }
#contact { background-color: magenta; }



@import "../../../../../node_modules/bootstrap/scss/bootstrap";

