<mat-toolbar class="mat-elevation-z6 site-toolbar-top" color="accent">

  <mat-toolbar-row>
    <span>Bem vindos</span>
    <span class="site-spacer"></span>
    <span>Login
      <a routerLink=".">
      <button mat-icon-button color="primary">
        <mat-icon aria-label="Example icon-button with a heart icon">input</mat-icon>
      </button>
    </a>
    </span>
  </mat-toolbar-row>

</mat-toolbar>

<nav id="navbar-menu" class="navbar fixed-top navbar-expand-lg navbar-light" style="background-color: #FFFAE4;">
  <a class="navbar-brand" href="#">
    <div class="imglogo"></div>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav navbar-nav nav-pills nav-dark mr-auto" style="background-color: #FFFAE4;">
      <li class="nav-item active">
        <a class="nav-link" href="#site">Site <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#products">Produtos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#about">Sobre nós</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#contact">Contato</a>
      </li>
    </ul>
  </div>
</nav>

<div class="nav-scroll" data-spy="scroll" data-target="#navbar-menu" data-offset="0">
  <section id="site">
    <span>Site</span>
  </section>

  <section id="products">
    <span>Produtos</span>
  </section>

  <section id="about">
    <span>Sobre</span>
  </section>

  <section id="contact">
    <span>Contato</span>
  </section>
</div>

<!-- Footer -->
<footer class="page-footer">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row footer-style-1">

      <div class="col-md-5 mt-md-0 mt-3">
        <a class="footer_logo" href="/">
          <img src="../../../../assets/img/app/bc_logo_header_footer_04.png" alt="Barcelona Café" width="400"
               class="img-fluid">
        </a>

        <div class="social-link">

          <ul class="row">

            <li class="social_icons">
              <button mat-mini-fab>
                <mat-icon color="primary" title="Facebook">
                  <a href="https://www.facebook.com/" target="_blank">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                  </a>
                </mat-icon>
              </button>
            </li>

            <li class="social_icons">
              <button mat-mini-fab>
                <mat-icon color="primary" title="Twitter">
                  <a href="https://twitter.com/" target="_blank">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                  </a>
                </mat-icon>
              </button>
            </li>

            <li class="social_icons">
              <button mat-mini-fab>
                <mat-icon color="primary" title="Instagram">
                  <a href="https://www.instagram.com/" target="_blank">
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                  </a>
                </mat-icon>
              </button>
            </li>

            <li class="social_icons">
              <button mat-mini-fab>
                <mat-icon color="primary" title="Pinterest">
                  <a href="https://www.pinterest.com/" target="_blank">
                    <i class="fa fa-pinterest" aria-hidden="true"></i>
                  </a>
                </mat-icon>
              </button>
            </li>

            <li class="social_icons">
              <button mat-mini-fab>
                <mat-icon color="primary" title="Youtube">
                  <a href="https://www.youtube.com/" target="_blank">
                    <i class="fa fa-youtube" aria-hidden="true"></i>
                  </a>
                </mat-icon>
              </button>
            </li>

          </ul>

        </div>

        <div class="text-form">
          <p>Assine nossa newsletter para se manter<br> atualizado com nossas promoções,<br> descontos, vendas e
            ofertas especiais.</p>
        </div>

        <div>
          <form>
            <div class="form-group form-margin">
              <input type="email" class="form-control input-form form-control-sm" id="exampleInputEmail1"
                     aria-describedby="emailHelp"
                     placeholder="Entre seu email">
            </div>
            <button class="btn-form" mat-button color="primary" size="sm">INSCREVA-SE</button>
          </form>
        </div>

      </div>

      <!-- Grid column -->
      <div class="col-md-3 mt-md-0 mt-2">

        <div class="footer_item footer_item_links">

          <!-- Links -->
          <h6 class="text-uppercase">Horário de Funcionamento</h6>
          <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; color: #FFFAE4;">
          <p>
            <a href="">Segunda-feira a sexta-feira:</a>
            de 6:00hs às 20:00hs
          </p>
          <p>
            <a href="">Sábado:</a>
            de 6:00hs às 18:00hs
          </p>
          <p>
            <a href="">Domingo e feriádos:</a>
            de 6:00hs às 12:00hs
          </p>
          <p>
            <a href="">Entregas</a>
            de 6:00hs às 12:00hs
          </p>
        </div>

      </div>

      <!-- Grid column -->
      <div class="col-md-4 mt-md-0 mt-2">

        <div class="footer_item_contacts">
          <!-- Links -->
          <h6 class="text-uppercase">Contato</h6>
          <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; color: #FFFAE4;">
          <p>
            <mdb-icon icon="home" class="mr-3"></mdb-icon>
            Av. Contorno Sul - Quadra 33 - Lote 3 - Parque Anhanguera - Goiânia - GO
          </p>
          <p>
            <mdb-icon icon="envelope" class="mr-3"></mdb-icon>
            contato@barcelonacafe.com.br
          </p>
          <p>
            <mdb-icon icon="phone" class="mr-3"></mdb-icon>
            +55 62 3624-5611
          </p>
          <p>
            <mdb-icon icon="mobile-phone" class="mr-3"></mdb-icon>
            +55 62 98576-1897
          </p>
        </div>

      </div>

      <div class="clearfix"></div>

    </div>

  </div>
  <!-- Grid row -->
  <div class="footer-style-2 container-fluid">
    <div class="row">

      <div class="copi">
        <a class="dev-for" target="_blank" rel="nofollow"
           href="https://www.cgctec.com.br">Desenvolvido por CGC Tecnologia</a>
      </div>

      <span class="site-spacer"></span>

      <div class="pay-group">
        <ul>
          <li class="pay_icons" title="Mastercard"><i class="fa fa-cc-mastercard" aria-hidden="true"></i></li>
          <li class="pay_icons" title="PayPal"><i class="fa fa-cc-paypal" aria-hidden="true"></i></li>
          <li class="pay_icons" title="Visa"><i class="fa fa-cc-visa" aria-hidden="true"></i></li>
        </ul>
      </div>

    </div>
  </div>

</footer>


<a id="back_top" href="">
  <i class="fa fa-angle-up" aria-hidden="true"></i>
</a>


